[submodule "assets"]
	path = assets
	url = git@github.com:adchsm/Slidebars.git
[submodule "assets/slidebars"]
	path = assets/slidebars
	url = git@github.com:adchsm/Slidebars.git
[submodule "admin"]
	path = admin
	url = git://github.com/ReduxFramework/ReduxFramework/
[submodule "assets/bootstrap"]
	path = assets/bootstrap
	url = git@github.com:twbs/bootstrap.git
